@media screen and (min-width: 320px){
    div{
        width: 100vw;
        padding: 20px 0px;
        background-color: rgba(207, 242, 237, 0.955);
        border-style: solid;
        border-radius: 30px;
        display: grid;
         box-sizing: border-box;
        
    }
    .seccion {
     font-size: 25px;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     text-align: center;
     padding: 0px 5px;
     background-color: rgba(121, 121, 169, 0.815);
    border: solid 3px rgba(37, 167, 190, 0.704);
     border-radius: 20px;
     box-sizing: border-box;
 }
 .media {
     width: 150px;
     height: 150px;
     display: flex;
     justify-self: center;
 }
 .articulo {
     font-size: 15px;
     padding: 5px 10px;
     text-align: left;
 }
 .descripcion {
     font-size: 12px;
     padding: 0px 5px;
 }
}  
    
    @media screen and (min-width: 720px){
        div{
           padding: 20px 0px;
           background-color: rgba(207, 242, 237, 0.955);
           border-style: solid;
           border-radius: 30px;
           border-color: rgba(240, 196, 143, 0.41);
           
       }
       .seccion {
        font-size: 25px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        text-align: center;
        padding: 0px 5px;
        background-color: rgba(121, 121, 169, 0.815);
       border: solid 3px rgba(37, 167, 190, 0.704);
        border-radius: 20px;
        box-sizing: border-box;
    }
    .media {
        width: 170px;
        height: 170px;
        display: flex;
        justify-self: center;
    }
    .articulo {
        font-size: 25px;
        padding: 5px 10px;
        text-align: left;
    }
    .descripcion {
        font-size: 30px;
        padding: 0px 5px;
    }
    } 
    
    @media screen and (min-width: 1024px) {
        div{
            width: 100vw;
           background-color: rgba(207, 242, 237, 0.955);
            border-style: solid;
            border-radius: 30px;
           border-color: rgba(240, 196, 143, 0.41);
           
       }
       .seccion {
           font-size: 45px;
           font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
           text-align: center;
           padding: 0px 5px;
           background-color: rgba(121, 121, 169, 0.815);
          border: solid 3px rgba(37, 167, 190, 0.704);
           border-radius: 20px;
           box-sizing: border-box;
       }
       .media {
           width: 400px;
           height: 400px;
           display: flex;
           flex-direction: row;
           justify-self: center;
           align-content: center;
       }
       .articulo {
           font-size: 28px;
           padding: 5px 10px;
           text-align: left;
       }
       .descripcion {
           font-size: 30px;
           padding: 0px 5px;
       }  
    }
    
          