
$color-fondo: linear-gradient(25deg, #ffdeb2 0, #fae0b1 3.33%, #f4e3b0 6.67%, #ece5b1 10%, #e5e7b3 13.33%, #dde9b6 16.67%, #d5ebb9 20%, #cdedbe 23.33%, #c6eec3 26.67%, #beefc9 30%, #b7f0cf 33.33%, #b0f1d6 36.67%, #aaf2dd 40%, #a4f2e4 43.33%, #a0f2eb 46.67%, #9df2f2 50%, #9bf2f9 53.33%, #9cf1ff 56.67%, #9df0ff 60%, #a1efff 63.33%, #a6edff 66.67%, #acecff 70%, #b3eaff 73.33%, #bce8ff 76.67%, #c5e6ff 80%, #cee3ff 83.33%, #d7e1ff 86.67%, #e1dfff 90%, #eadcff 93.33%, #f2daff 96.67%, #fad8ff 100%);
$color-fondo-correo: radial-gradient(circle at 9.82% 60.77%, #42be9f 0, #2dbea9 5%, #09bfb4 10%, #00bebe 15%, #00bec8 20%, #00bdd1 25%, #00bcda 30%, #00bbe2 35%, #00b9e8 40%, #1bb7ee 45%, #3cb5f2 50%, #54b2f5 55%, #69aff6 60%, #7cacf6 65%, #8da8f4 70%, #9ea5f1 75%, #ada1ed 80%, #ba9de7 85%, #c799e1 90%, #d296d9 95%, #db93d0 100%);

* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.enlaces {
    text-decoration: none;
}

            /*====== VISUALIZACION PARA MOVIL =======*/

@media screen and (min-width: 320px){
    .body-index{
        width: 100vw;
        background-image: $color-fondo;
        display: grid;
        grid-template-areas: 
         "header"
         "main"
         "footer"
        ;
        grid-gap: 5px;
        header {
            width: 99vw;
            display: grid;
            grid-area: header;
            grid-template-areas: 
            "logo-inicio encabezado"
            "nav nav"
            ;
            grid-gap: 2px 0px;
            background-image: url('../media/personas.jpg');
            background-size: contain;
            .encabezado {
            grid-area: encabezado;
            display: flex;
            justify-content: start;
            align-items: flex-end;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            font-size: 40px;
           -webkit-text-stroke: 2px rgb(24, 173, 173);
           -webkit-text-fill-color: transparent;
           text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.442);
            padding: 2px 0px; 
            }
            .logo-inicio{
                grid-area: logo-inicio;
                display: flex;
                justify-content: start;
                align-items: flex-end;
        
                .logo {
                    width: 50px;
                    height: 50px;
                    border-style: solid;
                    border-radius: 30px;
                }
            }
            @import "_nav";
        }
        main{
            grid-area: main;
           @import "_main";
        }
        footer {
            grid-area: footer;
            @import "_footer"; 
        }
    }

    .carrito-compra {
        width: 30px;
        height: 35px;
        box-sizing: 1px;
        border: none;
        padding: 3px;
        background-color: rgba(10, 85, 125, 0.7);
        border-radius: 50%;   
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        left: 85vw;
        bottom: 7vh;
        box-shadow: 1px 3px 3px 3px rgba(14, 155, 17, 0.5);  
        img {
        width: 20px;
        height: 25px;
        position: relative;
        right: 2px;
        }
    }

                     /*------SECCION LISTA DE COMPRAS-----*/

      .body-carrito {
        width: 100vw;
    background-image: radial-gradient(circle at 104.56% 69.86%, #00beec 0, #00bcf3 5%, #00baf9 10%, #00b7fd 15%, #39b4ff 20%, #58b1ff 25%, #70adff 30%, #85aaff 35%, #98a5fc 40%, #a9a1f8 45%, #b99df2 50%, #c799eb 55%, #d395e3 60%, #de91da 65%, #e78ed0 70%, #ef8bc5 75%, #f589bb 80%, #f988af 85%, #fc87a4 90%, #fd8899 95%, #fd898e 100%);
    display: grid;
    grid-template-areas: 
    "header-carrito"
    "main-carrito"
    "footer-carrito"
    ;
    grid-gap: 3px;

          header {
            grid-area: header-carrito;
            display: grid;
            grid-template-areas: 
             "logo titulo titulo logo-seguro"
             " logo titulo titulo seguro"
            ;
            grid-gap: 5px;
            background-image: url('../media/personas.jpg');
            background-size: contain; 
            .titulo-carrito{
                grid-area: titulo;
                font-size: 15px;
                display: flex;
                justify-content: center;
                align-items: center;
              }
            .icono-tienda{
               grid-area: logo;
               display: flex;
               justify-content: center;
               align-items: center;
               img {
                width: 50px;
                height: 50px;
                }
             }
             .seguro-carrito{
                grid-area: seguro;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                font-size: 10px;
               display: flex;
               justify-content: center;
               align-items: center;
            }
            .logo-sitio-seguro-carrito{
                grid-area: logo-seguro;
                display: flex;
                justify-content: center;
                img {
                    width: 50px;
                    height: 50px;
                }
           }    
        }

    .container {
      grid-area: main-carrito;
      width: 310px;
      height: 370px;
      margin-top: 270px;
      padding: 20px 10px;
      background-color: #431f89;
      border-radius: 15px;
      position: relative;
      bottom: 20vh;
      .compras-carrito div{
        background-color: #00b9e8;
        padding: 20px 0px;
        border-radius:30px;
        border-style: solid;
    }  
        .compras-carrito h2 {
            color: bisque;
            display: flex;
            justify-content: center;
            background-color: #9ea5f1;
            border: solid 1px;
            box-sizing: border-box;
        }   
        .botones-carrito {
            font-size: 30px;
            position: relative;
            top: 50px;
            display: flex;
            align-self: center;
        }
    }  
         //mixins
         
         @mixin size {
            width: 100px;
            height: 40px;
     }

      footer {
        grid-area: footer-carrito;
        .tabla{
            display: flex;
            justify-content: center;
            align-items: center;

            tr .medios-de-pago {
                @include size;
            }
        }
    }  
  }
    /*------SECCION CORREO------*/

    .body-correo {
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: $color-fondo-correo;
        .container {
            width: 310px;
            height: 600px;
            margin-top: 100px;
            background-color: #431f89;
            border-radius: 15px;
            font-size: 18px;
            padding: 30px;
            box-shadow: 7px 13px 37px #000;
            .row {
                .titulo-consulta {
                    display: flex;
                    justify-content: center;
                    padding: 5px 0px;
                    font-size: 30px;
                    color: #9cf1ff;
                   }

                         //aplico extend


                   .nombre {
                    font-size: 21px;
                    border-color: #9df2f2;
                    font-family: Arial, Helvetica, sans-serif;
                    background-color: #431f89;
                    border-radius: 10px;
                }
                .apellido {
                    @extend .nombre;
                }
                .correo {
                    @extend .nombre;
                }
                .mensaje {
                    font-size: 17px;
                    border-color: #9df2f2;
                    font-family: Arial, Helvetica, sans-serif;
                    background-color: #431f89;
                    border-radius: 10px;
                }  
                        
                    
                    .botones-correo{ 
                        display: flex;
                      flex-direction: row;
                      justify-content: start;
                    }
                }    
            }
        }
}
      
           /*====== VISUALIZACION PARA TABLET =======*/

@media screen and (min-width: 720px){
  
    .body-index{
        width: 100vw;
        background-image: $color-fondo;
        display: grid;
        grid-template-areas: 
         "header"
         "main"
         "footer"
        ;
        grid-gap: 5px 0px;
        header {
            width: 99vw;
            display: grid;
            grid-area: header;
            grid-template-areas: 
            "logo-inicio encabezado"
            "nav nav"
            ;
            grid-gap: 10px 0px;
            background-image: url('../media/personas.jpg');
            background-size: contain;
            .encabezado {
            grid-area: encabezado;
            display: flex;
            justify-content: start;
            align-items: flex-end;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            font-size: 40px;
           -webkit-text-stroke: 2px rgb(24, 173, 173);
           -webkit-text-fill-color: transparent;
           text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.442);
            padding: 10px 0px; 
            }
            .logo-inicio{
                grid-area: logo-inicio;
                display: flex;
                justify-content: start;
                align-items: flex-end;
                padding: 5px;
        
                .logo {
                    width: 95px;
                    height: 95px;
                    border-style: solid;
                    border-radius: 40px;
                }
            }
            @import "_nav";
        }
        main{
            grid-area: main;
           @import "_main";
        }
        footer {
            grid-area: footer;
            @import "_footer"; 
        }
    }

    .carrito-compra {
        width: 50px;
        height: 55px;
        box-sizing: 1px;
        border: none;
        padding: 3px;
        background-color: rgba(10, 85, 125, 0.7);
        border-radius: 50%;   
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        bottom: 5vw;
        left: 85vh;
        box-shadow: 1px 3px 3px 3px rgba(14, 155, 17, 0.5);  
        img {
            width: 40px;
            height: 40px;
            position: relative;
            right: 2px;
        }
    }

                     /*------SECCION LISTA DE COMPRAS-----*/

      .body-carrito {
        width: 100vw;
        background-image: radial-gradient(circle at 104.56% 69.86%, #00beec 0, #00bcf3 5%, #00baf9 10%, #00b7fd 15%, #39b4ff 20%, #58b1ff 25%, #70adff 30%, #85aaff 35%, #98a5fc 40%, #a9a1f8 45%, #b99df2 50%, #c799eb 55%, #d395e3 60%, #de91da 65%, #e78ed0 70%, #ef8bc5 75%, #f589bb 80%, #f988af 85%, #fc87a4 90%, #fd8899 95%, #fd898e 100%);
        display: grid;
        grid-template-areas:
        "header-carrito"
        "main-carrito"
        "footer-carrito"
        ;
        grid-gap: 7px 0px;

          header {
            grid-area: header-carrito;
            display: grid;
            grid-template-areas: 
             "logo titulo titulo logo-seguro"
             " logo titulo titulo seguro"
            ;
            grid-gap: 15px;
            background-image: url('../media/personas.jpg');
            background-size: contain; 
            .titulo-carrito{
                grid-area: titulo;
                font-size: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
              }
            .icono-tienda{
               grid-area: logo;
               display: flex;
               justify-content: center;
               align-items: center;
               img {
                width: 60px;
                height: 60px;
                }
             }
             .seguro-carrito{
                grid-area: seguro;
               display: flex;
               justify-content: center;
               align-items: flex-end;
            }
            .logo-sitio-seguro-carrito{
                grid-area: logo-seguro;
                display: flex;
                justify-content: center;
                align-items: flex-end;
                img {
                    width: 55px;
                    height: 55px;
                }
           }    
        }

     .container {
      grid-area: main-carrito;
      width: 570px;
      height: 360px;
      margin-top: 270px;
      padding: 20px 10px;
      background-color: #431f89;
      border-radius: 15px;
      position: relative;
      bottom: 20vh; 
      .compras-carrito div{
        background-color: #00b9e8;
        padding: 20px 0px;
        border-radius:30px;
        border-style: solid;
    } 
        .compras-carrito h2 {
            color: bisque;
            display: flex;
            justify-content: center;
            background-color: #9ea5f1;
            border: solid 1px;
            box-sizing: border-box;
        }   
        .botones-carrito {
            font-size: 30px;
            position: relative;
            top: 100px;
            display: flex;
            align-self: center;
        }
    }
             //mixins
      
        @mixin size {
          width: 200px;
                height: 40px;
       }

      footer {
        grid-area: footer-carrito;
        .tabla{
            display: flex;
            justify-content: center;
            align-items: center;
            .col h2 {
                display: flex;
                justify-content: center;
            }
            tr .medios-de-pago {
                @include size;
            }
        }
    }  
  }
    /*------SECCION CORREO------*/

    .body-correo {
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: $color-fondo-correo;
        .container {
            width: 500px;
            height: 500px;
            margin-top: 220px;
            background-color: #431f89;
            border-radius: 15px;
            font-size: 18px;
            padding: 30px;
            box-shadow: 7px 13px 37px #000;
            .row {
                .titulo-consulta {
                    display: flex;
                    justify-content: center;
                    padding: 5px 0px;
                    font-size: 40px;
                    color: #9cf1ff;
                   }
                    
                    
                    .botones-correo{ 
                        display: flex;
                      flex-direction: column;
                      justify-content: space-around;
                    }
                }    
            }
        }
        
}


            /*====== VISUALIZACION PARA PC/LAPTOP =======*/

           
@media screen and (min-width: 1020px){
   
    .body-index{
        width: 100vw;
        background-image: $color-fondo;
        display: grid;
        grid-template-areas: 
         "header"
         "main"
         "footer"
        ;
        grid-gap: 5px 0px;
        header {
            width: 99vw;
            display: grid;
            grid-area: header;
            grid-template-areas: 
            "logo-inicio encabezado"
            "nav nav"
            ;
            grid-gap: 10px 0px;
            background-image: url('../media/personas.jpg');
            background-size: contain;
            box-sizing: border-box;
            .encabezado {
            grid-area: encabezado;
            width: 90%;
            display: flex;
            justify-content: start;
            align-items: flex-end;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            font-size: 40px;
           -webkit-text-stroke: 2px rgb(24, 173, 173);
           -webkit-text-fill-color: transparent;
           text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.442);
            padding: 10px 0px; 
            }
            .logo-inicio{
                grid-area: logo-inicio;
                display: flex;
                justify-content: start;
                align-items: flex-end;
                padding: 5px;
                transition: all .3s ease-in-out;
                .logo {
                    width: 95px;
                    height: 95px;
                    border-style: solid;
                    border-radius: 40px;
                    &:hover {
                        box-sizing: 5px;
                        border: none;
                        padding: 7px 0px;
                        border-radius: 30px;
                        background-color: aliceblue ;
                        box-shadow: 1px 3px 3px 3px rgba(76, 178, 203, 0.5);
                    }
                }
            }
            @import "_nav";
        }
        main{
            grid-area: main;
            width: 99vw;
           @import "_main";
        }
        footer {
            grid-area: footer;
            @import "_footer"; 
        }
    }

    .carrito-compra {
        width: 80px;
        height: 80px;
        box-sizing: 1px;
        border: none;
        padding: 3px;
        background-color: rgba(10, 85, 125, 0.7);
        border-radius: 50%;   
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        left: 93vw;
        bottom: 1vh;
        box-shadow: 1px 3px 3px 3px rgba(14, 155, 17, 0.5);  
        transition: all .3s ease-in-out;
        img {
            width: 50px;
            height: 50px;
            position: relative;
            right: 3px;
        }
        &:hover {
            transform: scale(1.3);
             }
    }

                     /*------SECCION LISTA DE COMPRAS-----*/

      .body-carrito {
        width: 100vw;
        background-image: radial-gradient(circle at 104.56% 69.86%, #00beec 0, #00bcf3 5%, #00baf9 10%, #00b7fd 15%, #39b4ff 20%, #58b1ff 25%, #70adff 30%, #85aaff 35%, #98a5fc 40%, #a9a1f8 45%, #b99df2 50%, #c799eb 55%, #d395e3 60%, #de91da 65%, #e78ed0 70%, #ef8bc5 75%, #f589bb 80%, #f988af 85%, #fc87a4 90%, #fd8899 95%, #fd898e 100%);
        display: grid;
        grid-template-areas:
        "header-carrito"
        "main-carrito"
        "footer-carrito"
        ;
        grid-gap: 7px 0px;

          header {
            grid-area: header-carrito;
            display: grid;
            grid-template-areas: 
             "logo titulo titulo logo-seguro"
             " logo titulo titulo seguro"
            ;
            grid-gap: 5px;
            background-image: url('../media/personas.jpg');
            background-size: contain; 
            .titulo-carrito{
                grid-area: titulo;
                font-size: 30px;
                position: relative;
                top: 40px;
                right: 40px;
              }
            .icono-tienda{
               grid-area: logo;
               display: flex;
               justify-content: center;
               align-items: end;
               img {
                width: 100px;
                height: 100px;
                }
             }
             .seguro-carrito{
                grid-area: seguro;
               display: flex;
               justify-content: center;
               align-items: flex-end;
            }
            .logo-sitio-seguro-carrito{
                grid-area: logo-seguro;
                display: flex;
                justify-content: center;
                img {
                    width: 100px;
                    height: 100px;
                }
           }    
        }

     .container {
        grid-area: main-carrito;
        width: 550px;
        height: 460px;
        margin-top: 130px;
        background-color: #431f89;
        border-radius: 15px;
        position: relative;
        bottom: 10vh;
        .compras-carrito div{
            background-color: #00b9e8;
            padding: 20px 0px;
            border-radius:30px;
            border-style: solid;
        } 
        .compras-carrito h2 {
            color: bisque;
            display: flex;
            justify-content: center;
            background-color: #9ea5f1;
            border: solid 1px;
            box-sizing: border-box;
        }   
        .botones-carrito {
            font-size: 30px;
            position: relative;
            top: 120px;
            display: flex;
            align-self: center;
            justify-content: center;
        }
    }
      
           @mixin size {
            width: 300px;
            height: 80px;  
           }
      footer {
        grid-area: footer-carrito;
        .tabla{
            display: flex;
            justify-content: center;
            align-items: center;
            tr .medios-de-pago {
                @include size;
            }
        }
    }  
  }
    /*------SECCION CORREO------*/

    .body-correo {
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: $color-fondo-correo;
        .container {
            width: 550px;
            height: 480px;
            margin-top: 250px;
            background-color: #431f89;
            border-radius: 15px;
            font-size: 18px;
            padding: 30px;
            box-shadow: 7px 13px 37px #000;
            .row {
                .titulo-consulta {
                    display: flex;
                    justify-content: center;
                    padding: 5px 0px;
                    font-size: 40px;
                    color: #9cf1ff;
                   }
                         
                    
                    .botones-correo{ 
                        display: flex;
                      flex-direction: column;
                      justify-content: space-around;
                    }
                }    
            }
        }
       
        
    }
